body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.222em;
  color: #262c27;
}
body.lock {
  overflow-y: hidden;
}
.lock .main {
  width: 100vw;
}
a {
  color: inherit;
}

.wrapper {
  overflow-x: hidden;
  min-height: 100%;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.popup-btn {
  position: absolute;
  text-align: center;
  background-color: transparent;
  border-radius: 50% 50% 4px 4px;
  svg {
    padding: 0px 0px 12px 0px;
  }
  path,
  circle {
    transition: all 0.3s ease;
  }
  span {
    display: block;
    color: #fff;
    transition: color 0.3s ease;
  }
}
.title {
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  font-size: 60px;
  line-height: 1.117em;
}
.fixed-object {
  position: fixed;
  left: 0;
  top: 0;
}
