.buy {
  padding: 150px 0 0;
  &__inner {
    display: flex;
    align-items: center;
    gap: 90px;
  }
  &__content {
    width: 510px;
    position: relative;
  }
  &__title {
    margin: 0px 0px 50px 0px;
    color: #0093a1;
  }
  &__list {
    margin: 0px 0px 50px 0px;
  }
  &__item {
    margin: 0px 0px 25px 0px;
    width: 290px;
    &-title {
      text-transform: uppercase;
      margin: 0px 0px 5px 0px;
      font-weight: 700;
      transition: color 0.3s ease;
      &:hover {
        color: #0093a1;
      }
    }
    // &-text {
    // }
  }
  &__price {
    position: absolute;
    right: 26px;
    bottom: 130px;
    display: flex;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 201px;
    height: 199px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.21em;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover {
      font-size: 40px;
      width: 250px;
      height: 248px;
      right: 0;
      bottom: 105px;
    }
  }
  &__btn {
    font-family: "Comfortaa", cursive;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.115em;
    color: #0093a1;
    border: 2px solid #0093a1;
    padding: 18px;
    font-weight: 700;
    border-radius: 30px;
    background-color: transparent;
    max-width: 484px;
    width: 100%;
    transition: all 0.3s ease;
    &:hover {
      border-color: #b9c400;
      color: #262c27;
      background-color: #b9c400;
    }
  }
  // &__img {
  // }
}
