@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-arrow-left:before {
  content: "\e900";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-arrow-scroll:before {
  content: "\e902";
}

._icon-logo:before {
  content: "\e903";
}

/* <NULLSTYLE> ========== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* </NULLSTYLE> ========== */

/* <COMMON> ================================================== */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 71.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1f1e1e;
  line-height: 1.1875;
}

.lock {
  overflow: hidden;
}

.logo {
  display: block;
  font-size: 3.75rem;
  transition: color 0.3s ease 0s;
}

.logo:hover {
  color: #d9d9de;
}

.title {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 130%;
}

/* </COMMON> ================================================== */

/* <HEADER> ==================================================*/

.no-webp .header {
  background: url("../img/header/bg.jpg") center/cover no-repeat; }

.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 30, 30, 0.2);
}

.header__inner {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.9375rem;
}

.header__top {
  padding: 1rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.9375rem;
}

.header__phone {
  font-weight: 700;
  font-size: 1rem;
  line-height: 130%;
}

.header__phone-number {
  display: inline-block;
  font-weight: 400;
  min-height: 44px;
  padding: 0.75rem 1.9375rem 0.8125rem;
  margin-left: 1.25rem;
  background-color: #886239;
  border-radius: 1.375rem;
  transition: background-color 0.3s ease 0s;
}

.header__title {
  font-family: "PT Serif", serif;
  text-align: center;
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 130%;
  margin-top: 3.125rem;
}

.header__descr {
  max-width: 21em;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
}

.header__btn {
  display: inline-flex;
  min-height: 60px;
  margin: 1.25rem 0;
  color: #fff;
  background-color: #886239;
  border-radius: 30px;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  padding: 1.1875rem 3.375rem 1.25rem;
  transition: background-color 0.3s ease 0s;
}

.header__scroll {
  position: relative;
  display: block;
  font-size: 2.5rem;
  color: #fff;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  animation: scroll 1s ease infinite normal;
  transition: color 0.3s ease 0s;
}

@keyframes scroll {
  0% {
    translate: 0 0%;
  }

  100% {
    translate: 0 30%;
  }
}

.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1.625rem 0rem 1.4375rem;
}

.menu__item {
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

/* </HEADER> ================================================== */

/* <MAIN> ================================================== */

.directions {
  padding-top: 6.25rem;
}

.directions__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.directions__item {
  transition: all 0.3s ease 0s;
}

.directions__img img {
  width: 100%;
}

.directions__descr {
  padding: 0.75rem 1.1875rem 1.1875rem;
  border: 1px solid #d9d9de;
  border-top: none;
}

.no-webp .benefits {
  background: url("../img/benefits/bg.jpg") center/cover no-repeat; }

.benefits {
  color: #fff;
  margin-top: 6.25rem;
}

.benefits__inner {
  padding-top: 2rem;
  padding-bottom: 3.125rem;
}

.benefits__title {
  text-align: center;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.1875rem 3.5rem;
  margin-top: 3.25rem;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  row-gap: 0.9375rem;
}

.benefits__icon img {
  width: 100%;
  max-width: 5.3125rem;
}

.benefits__text {
  padding: 0 0.25rem;
  flex: 1 1 auto;
}

.popular {
  padding-top: 6.25rem;
}

.popular__inner {
  padding-bottom: 5rem;
  border-bottom: 1px solid #d9d9de;
}

.popular__title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.popular__items {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  gap: 2rem;
}

.item-popular {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem 1.1875rem;
  background: center/cover no-repeat;
  min-height: 16rem;
  row-gap: 0.625rem;
  transition: scale 0.3s ease 0s;
}

.no-webp .item-popular--1 {
  background-image: url("../img/popular/item-1.jpg"); }

.no-webp .item-popular--2 {
  background-image: url("../img/popular/item-2.jpg"); }

.no-webp .item-popular--3 {
  background-image: url("../img/popular/item-3.jpg"); }

.no-webp .item-popular--4 {
  background-image: url("../img/popular/item-4.jpg"); }

.no-webp .item-popular--5 {
  background-image: url("../img/popular/item-5.jpg"); }

.no-webp .item-popular--6 {
  background-image: url("../img/popular/item-6.jpg"); }

.no-webp .item-popular--7 {
  background-image: url("../img/popular/item-7.jpg"); }

.no-webp .item-popular--8 {
  background-image: url("../img/popular/item-8.jpg"); }

.no-webp .item-popular--9 {
  background-image: url("../img/popular/item-9.jpg"); }

.no-webp .item-popular--10 {
  background-image: url("../img/popular/item-10.jpg"); }

.item-popular:nth-child(3),
.item-popular:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.item-popular__title {
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 130%;
}

.item-popular__title--big {
  font-size: 1.5rem;
  margin-bottom: 0.9375rem;
}

.item-popular__cost {
  font-weight: 700;
}

.item-popular__location {
  margin-bottom: 0.9375rem;
  line-height: 130%;
}

.map {
  padding-top: 6.25rem;
}

.map__title {
  margin-bottom: 3.125rem;
  text-align: center;
}

.map__iframe {
  width: 100%;
}

.about {
  padding-top: 6.25rem;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.about__content {
  width: 40.1785714286%;
  min-width: 350px;
}

.about__title {
  margin-bottom: 1.5625rem;
}

.about__text {
  font-size: 1.125rem;
  line-height: 140%;
  margin-bottom: 2.1875rem;
}

.about__link {
  text-decoration: underline;
  color: #c4c4c4;
  transition: color 0.3s ease 0s;
}

.about__link:hover {
  text-decoration: underline;
}

.no-webp .popup-about {
  background: url(../img/about/video-bg.jpg) center/cover no-repeat; }

.popup-about {
  width: 57.1428571429%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-about__link {
  overflow: hidden;
  border-radius: 50%;
}

.gallery {
  background-color: #886239;
  color: #fff;
  margin-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.gallery__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 10rem 2.5rem 0;
}

.gallery__link {
  text-decoration: underline;
}

.gallery__link:hover {
  text-decoration: underline;
}

.gallery__item img {
  width: 100%;
}

.slick-btn {
  width: 2.75rem;
  height: 2.75rem;
  border: 0.0625rem solid #c4c4c4;
  border-radius: 1.375rem;
  position: absolute;
  top: -5.3125rem;
  right: 0;
  font-size: 0.875rem;
}

.slick-prev {
  right: 3.75rem;
}

.slick-slide {
  margin: 0 -16px;
  padding: 0 32px;
}

.slick-list {
  margin: 0 -16px;
}

.tour__container {
  padding-top: 6.25rem;
}

.tour__title {
  text-align: center;
  text-transform: uppercase;
}

.tour__content {
  margin-top: 5rem;
  padding-bottom: 4.0625rem;
  -moz-column-count: 2;
       column-count: 2;
  gap: 2.9375rem;
  border-bottom: 0.0625rem solid #d9d9de;
}

.tour__text {
  font-size: 1.125rem;
  line-height: 140%;
}

.tour__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.tour__text span {
  text-transform: uppercase;
  font-weight: 700;
}

.tour__info {
  margin-top: 2.8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
}

.tour__info-item {
  text-align: center;
}

.tour__info-item > span {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 3.625rem;
  color: #886239;
  line-height: 130%;
  white-space: nowrap;
}

.tour__info-text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  margin: 0 auto;
  flex: 1 1 auto;
}

.tour__info-text span {
  display: block;
}

.booking {
  background-color: #eaeaea;
  margin-top: 6.25rem;
  padding: 4.6875rem 0;
}

.booking__title {
  text-align: center;
  margin-bottom: 2.8125rem;
}

.booking__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 52rem;
  margin: 0 auto;
}

.booking__input,
.booking__area {
  background: #ffffff;
  border: 0.0625rem solid #d9d9de;
  border-radius: 0.3125rem;
}

.booking__input::-moz-placeholder, .booking__area::-moz-placeholder {
  color: #c4c4c4;
}

.booking__input::placeholder,
.booking__area::placeholder {
  color: #c4c4c4;
}

.booking__input:focus,
.booking__area:focus {
  box-shadow: 0 0 0.9375rem #886239;
}

.booking__input {
  width: 30.7692307692%;
  margin-bottom: 1.75rem;
  padding: 0.6875rem 0.875rem 0.75rem;
}

.booking__input._error {
  box-shadow: 0 0 0.9375rem red;
}

.booking__area {
  width: 100%;
  margin-bottom: 4.1875rem;
  padding: 0.875rem;
  min-height: 7rem;
  resize: none;
}

.booking__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.5625rem;
  background-color: #886239;
  color: #fff;
  height: 3.75rem;
  border-radius: 1.875rem;
  font-size: 1.125rem;
  transition: background-color 0.3s ease 0s;
}

.booking__label {
  text-decoration: underline;
  display: flex;
  align-items: center;
  padding-left: 3.125rem;
}

.booking__checkbox-style {
  width: 1.625rem;
  height: 1.625rem;
  border: 0.125rem solid #c4c4c4;
  border-radius: 0.125rem;
  position: absolute;
  margin-left: -2.8125rem;
}

.booking__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 2.8125rem;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #886239;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.booking__checkbox:checked + .booking__checkbox-style {
  border-color: #886239;
}

.booking__checkbox._error + .booking__checkbox-style {
  box-shadow: 0 0 0.9375rem red;
}

/* </MAIN> ================================================== */

/* <FOOTER> ==================================================*/

.footer {
  background-color: #1f1e1e;
  color: #fff;
  padding: 5rem 0;
}

.footer__logo {
  margin-bottom: 4.375rem;
  text-align: center;
}

.footer__box {
  font-size: 0.875rem;
  line-height: 130%;
  display: flex;
  justify-content: space-between;
  max-width: 52.5rem;
  margin: 0 auto;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.footer__box-title {
  font-weight: 500;
  margin-bottom: 0.4375rem;
}

.footer__copy,
.footer__address-text,
.footer__phone,
.footer__mail {
  opacity: 0.8;
}

.footer__link {
  text-decoration: underline;
}

.footer__address-text {
  max-width: 11.25rem;
}

.footer__phone {
  display: block;
}

/* </FOOTER> ================================================== */

/* <MEDIA> ==================================================*/

/* </MEDIA> ================================================== */

@media (max-width: 71.875em) {
  .header__title {
    font-size: calc(1.875rem + 60 * (100vw / 1150));
    margin-top: calc(1.875rem + 20 * (100vw / 1150));
  }

  .header__descr {
    font-size: calc(1rem + 4 * (100vw / 1150));
  }

  .directions,
  .popular,
  .map,
  .about,
  .tour__container {
    padding-top: calc(3.125rem + 50 * (100vw / 1150));
  }

  .directions__list {
    gap: calc(0.9375rem + 17 * (100vw / 1150));
  }

  .directions__descr {
    padding-top: calc(0.3125rem + 7 * (100vw / 1150));
    padding-right: calc(0.5rem + 11 * (100vw / 1150));
    padding-bottom: calc(0.5rem + 11 * (100vw / 1150));
    padding-left: calc(0.5rem + 11 * (100vw / 1150));
  }

  .benefits,
  .gallery,
  .booking {
    margin-top: calc(3.125rem + 50 * (100vw / 1150));
  }

  .benefits__inner {
    padding-top: calc(1.25rem + 12 * (100vw / 1150));
    padding-bottom: calc(1.875rem + 20 * (100vw / 1150));
  }

  .benefits__list {
    margin-top: calc(1.875rem + 22 * (100vw / 1150));
  }

  .popular__inner {
    padding-bottom: calc(2.5rem + 40 * (100vw / 1150));
  }

  .item-popular {
    min-height: 22vw;
    padding-right: calc(-0.3125rem + 29 * (100vw / 1150));
    padding-left: calc(-0.3125rem + 29 * (100vw / 1150));
  }

  .gallery {
    padding-bottom: calc(3.125rem + 50 * (100vw / 1150));
  }

  .tour__content {
    margin-top: calc(2.5rem + 40 * (100vw / 1150));
    padding-bottom: calc(2.1875rem + 30 * (100vw / 1150));
  }

  .tour__info {
    margin-top: calc(1.5625rem + 20 * (100vw / 1150));
    -moz-column-gap: calc(0.9375rem + 35 * (100vw / 1150));
         column-gap: calc(0.9375rem + 35 * (100vw / 1150));
    row-gap: 0.9375rem;
  }

  .tour__info-item > span {
    font-size: calc(1.875rem + 28 * (100vw / 1150));
  }

  .booking {
    padding-top: calc(2.5rem + 35 * (100vw / 1150));
    padding-bottom: calc(2.5rem + 35 * (100vw / 1150));
  }

  .footer {
    padding-top: calc(2.5rem + 40 * (100vw / 1150));
    padding-bottom: calc(2.5rem + 40 * (100vw / 1150));
  }

  .footer__logo {
    margin-bottom: calc(2.1875rem + 35 * (100vw / 1150));
  }
}

@media (max-width: 61.99875em) {
  .header__phone span {
    display: none;
  }

  .directions__list,
  .benefits__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__top {
    padding-right: 7.5rem;
  }

  .tour__info {
    flex-wrap: wrap;
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}

@media (max-width: 53.75em) {
  .tour__info-item {
    width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    background-color: inherit;
    right: 10px;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    scale: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    rotate: 45deg;
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    rotate: -45deg;
  }

  .menu__body {
    position: fixed;
    padding: 8.75rem 1.875rem 1.875rem;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 30, 30, 0.9);
    overflow: auto;
    transition: all 0.3s ease 0s;
    z-index: -2;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 9.375rem;
    background-color: #1f1e1e;
    left: -100%;
    top: 0;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    border: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1.25rem;
  }

  .menu__item {
    margin-bottom: 1.25rem;
    font-size: 1.375rem;
  }

  .header__top {
    margin: 0 -0.9375rem;
    padding: 1rem 0.9375rem 0.9375rem;
    z-index: 10;
  }

  .header__logo {
    width: 100%;
  }

  .header__title {
    font-size: calc(
      1.875rem + 102 * ((100vw - 320px) / 1150)
    );
    margin-top: calc(
      1.875rem + 34 * ((100vw - 320px) / 1150)
    );
  }

  .header__phone-number {
    margin: 0;
  }

  .header__menu {
    width: auto;
  }

  .header__descr {
    font-size: calc(
      1rem + 6.8 * ((100vw - 320px) / 1150)
    );
  }

  .title {
    font-size: 1.5rem;
  }

  .directions,
  .popular,
  .map,
  .about,
  .tour__container {
    padding-top: calc(
      3.125rem + 85 * ((100vw - 320px) / 1150)
    );
  }

  .directions__list,
  .benefits__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .directions__list {
    gap: calc(
      0.9375rem + 28.9 * ((100vw - 320px) / 1150)
    );
  }

  .directions__descr {
    padding-top: calc(
      0.3125rem + 11.9 * ((100vw - 320px) / 1150)
    );
    padding-right: calc(
      0.5rem + 18.7 * ((100vw - 320px) / 1150)
    );
    padding-bottom: calc(
      0.5rem + 18.7 * ((100vw - 320px) / 1150)
    );
    padding-left: calc(
      0.5rem + 18.7 * ((100vw - 320px) / 1150)
    );
  }

  .benefits,
  .gallery,
  .booking {
    margin-top: calc(
      3.125rem + 85 * ((100vw - 320px) / 1150)
    );
  }

  .benefits__inner {
    padding-top: calc(
      1.25rem + 20.4 * ((100vw - 320px) / 1150)
    );
    padding-bottom: calc(
      1.875rem + 34 * ((100vw - 320px) / 1150)
    );
  }

  .benefits__list {
    margin-top: calc(
      1.875rem + 37.4 * ((100vw - 320px) / 1150)
    );
    row-gap: calc(
      1.875rem + 62.9 * ((100vw - 320px) / 1150)
    );
    -moz-column-gap: calc(
      1.25rem + 61.2 * ((100vw - 320px) / 1150)
    );
         column-gap: calc(
      1.25rem + 61.2 * ((100vw - 320px) / 1150)
    );
  }

  .benefits__icon img {
    max-width: 3.75rem;
  }

  .popular__inner {
    padding-bottom: calc(
      2.5rem + 68 * ((100vw - 320px) / 1150)
    );
  }

  .popular__items {
    grid-template: repeat(8, 1fr)/repeat(2, 1fr);
    gap: 1.25rem;
  }

  .item-popular {
    min-height: 45vw;
    padding: 1rem 0.8125rem 1.1875rem;
  }

  .item-popular--1,
  .item-popular--2,
  .item-popular--4,
  .item-popular--5 {
    order: -1;
  }

  .item-popular__title {
    font-size: 1rem;
  }

  .item-popular__title--big {
    font-size: 1.25rem;
  }

  .item-popular__cost,
  .item-popular__info {
    font-size: 0.875rem;
  }

  .map__iframe {
    max-height: 37.5rem;
    height: 80vw;
  }

  .about__inner {
    flex-direction: column;
    row-gap: 2.625rem;
  }

  .about__content {
    min-width: 100%;
    text-align: center;
  }

  .about__text {
    font-size: 1rem;
    text-align: left;
  }

  .about__link {
    font-size: 0.875rem;
  }

  .popup-about {
    width: 100%;
    height: 52.15vw;
  }

  .gallery {
    padding-bottom: calc(
      3.125rem + 85 * ((100vw - 320px) / 1150)
    );
  }

  .gallery__link {
    font-size: 0.875rem;
  }

  .tour__content {
    margin-top: calc(
      2.5rem + 68 * ((100vw - 320px) / 1150)
    );
    padding-bottom: calc(
      2.1875rem + 51 * ((100vw - 320px) / 1150)
    );
    -moz-column-count: auto;
         column-count: auto;
  }

  .tour__text {
    font-size: 1rem;
  }

  .tour__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .tour__info {
    margin-top: calc(
      1.5625rem + 34 * ((100vw - 320px) / 1150)
    );
  }

  .tour__info-item > span {
    font-size: calc(
      1.875rem + 47.6 * ((100vw - 320px) / 1150)
    );
  }

  .tour__info-text {
    font-size: 1.125rem;
  }

  .booking {
    padding-top: calc(
      2.5rem + 59.5 * ((100vw - 320px) / 1150)
    );
    padding-bottom: calc(
      2.5rem + 59.5 * ((100vw - 320px) / 1150)
    );
  }

  .booking__form {
    flex-direction: column;
  }

  .booking__input {
    width: 100%;
  }

  .booking__area {
    margin-bottom: 1.875rem;
  }

  .booking__btn {
    max-width: 18.5625rem;
    width: 100%;
    order: 1;
    margin: 2.5rem auto 0;
  }

  .booking__label {
    align-self: start;
  }

  .footer {
    padding-top: calc(
      2.5rem + 68 * ((100vw - 320px) / 1150)
    );
    padding-bottom: calc(
      2.5rem + 68 * ((100vw - 320px) / 1150)
    );
  }

  .footer__logo {
    margin-bottom: calc(
      2.1875rem + 59.5 * ((100vw - 320px) / 1150)
    );
  }

  .footer__box {
    flex-direction: column;
  }

  .footer__box-title {
    text-align: center;
  }
}

@media (max-width: 38.125em) {
  .gallery__link {
    display: block;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    margin-top: 1.875rem;
  }
}

@media (max-width: 27.5em) {
  .item-popular {
    padding: 0.75rem 0.5rem 0.9375rem;
  }
}

@media (any-hover: hover) {
  .header__phone-number:hover {
    background-color: #855936;
  }

  .header__btn:hover {
    background-color: #855936;
  }

  .header__scroll:hover {
    animation-play-state: paused;
    color: #d9d9de;
  }

  .menu__item:hover {
    color: #d9d9de;
  }

  .directions__item:hover {
    scale: 1.03;
    background-color: #d9d9de;
  }

  .item-popular:hover {
    scale: 1.03;
  }

  .item-popular:nth-child(3):hover,
  .item-popular:nth-child(6):hover {
    scale: 1.02;
  }

  .about__link:hover {
    color: #d9d9de;
  }

  .booking__btn:hover {
    background-color: #855936;
  }
}

.webp .header { background: url(../img/header/bg.webp) center/cover no-repeat; }

.webp .benefits { background: url(../img/benefits/bg.webp) center/cover no-repeat; }

.webp .item-popular--1 { background-image: url(../img/popular/item-1.webp); }

.webp .item-popular--2 { background-image: url(../img/popular/item-2.webp); }

.webp .item-popular--3 { background-image: url(../img/popular/item-3.webp); }

.webp .item-popular--4 { background-image: url(../img/popular/item-4.webp); }

.webp .item-popular--5 { background-image: url(../img/popular/item-5.webp); }

.webp .item-popular--6 { background-image: url(../img/popular/item-6.webp); }

.webp .item-popular--7 { background-image: url(../img/popular/item-7.webp); }

.webp .item-popular--8 { background-image: url(../img/popular/item-8.webp); }

.webp .item-popular--9 { background-image: url(../img/popular/item-9.webp); }

.webp .item-popular--10 { background-image: url(../img/popular/item-10.webp); }

.webp .popup-about { background: url(../img/about/video-bg.webp) center/cover no-repeat; }