@font-face {
  font-family: ArialMT;
  font-display: swap;
  src: url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-404:before {
  content: "\e900";
}

._icon-acer:before {
  content: "\e901";
}

._icon-apple:before {
  content: "\e902";
}

._icon-arrow-left:before {
  content: "\e903";
}

._icon-arrow-menu:before {
  content: "\e904";
}

._icon-arrow-right:before {
  content: "\e905";
}

._icon-back:before {
  content: "\e906";
}

._icon-bin:before {
  content: "\e907";
}

._icon-calendar:before {
  content: "\e908";
}

._icon-card:before {
  content: "\e909";
}

._icon-cart:before {
  content: "\e90a";
}

._icon-chat:before {
  content: "\e90b";
}

._icon-chromebooks:before {
  content: "\e90c";
}

._icon-clock:before {
  content: "\e90d";
}

._icon-date:before {
  content: "\e90e";
}

._icon-dell:before {
  content: "\e90f";
}

._icon-desktop:before {
  content: "\e910";
}

._icon-disk:before {
  content: "\e911";
}

._icon-email:before {
  content: "\e912";
}

._icon-european:before {
  content: "\e913";
}

._icon-everywhere:before {
  content: "\e914";
}

._icon-facebook:before {
  content: "\e915";
}

._icon-favorite:before {
  content: "\e916";
}

._icon-gpu:before {
  content: "\e917";
}

._icon-guarantee:before {
  content: "\e918";
}

._icon-heart:before {
  content: "\e919";
}

._icon-holder:before {
  content: "\e91a";
}

._icon-hot:before {
  content: "\e91b";
}

._icon-hp:before {
  content: "\e91c";
}

._icon-instagram:before {
  content: "\e91d";
}

._icon-laptops:before {
  content: "\e91e";
}

._icon-lenovo:before {
  content: "\e91f";
}

._icon-linkedin:before {
  content: "\e920";
}

._icon-load:before {
  content: "\e921";
}

._icon-money-back:before {
  content: "\e922";
}

._icon-monitors:before {
  content: "\e923";
}

._icon-os:before {
  content: "\e924";
}

._icon-personal-data:before {
  content: "\e925";
}

._icon-phone:before {
  content: "\e926";
}

._icon-play:before {
  content: "\e927";
}

._icon-processor:before {
  content: "\e928";
}

._icon-quality:before {
  content: "\e929";
}

._icon-ram:before {
  content: "\e92a";
}

._icon-search:before {
  content: "\e92b";
}

._icon-secure:before {
  content: "\e92c";
}

._icon-shipping:before {
  content: "\e92d";
}

._icon-standard:before {
  content: "\e92e";
}

._icon-star-rating:before {
  content: "\e92f";
}

._icon-star:before {
  content: "\e930";
}

._icon-trustpilot:before {
  content: "\e931";
}

._icon-twitter:before {
  content: "\e932";
}

._icon-user:before {
  content: "\e933";
}

._icon-warranty:before {
  content: "\e934";
}

._icon-youtube-text:before {
  content: "\e935";
}

._icon-youtube:before {
  content: "\e936";
}

/* <NULLSTYLE> ========== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* </NULLSTYLE> ========== */

/* <COMMON> ================================================== */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  padding-top: 7.1875rem;
  background-color: #f5f5f7;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.menu-open .wrapper::after {
  visibility: visible;
  background-color: rgba(23, 23, 23, 0.3);
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  height: 100%;
  width: 100%;
  background-color: #171717;
  transition: all 0.3s ease 0s;
}

.menu-open .main::after {
  left: -100%;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #171717;
  font-size: 1.0625rem;
}

.lock {
  overflow: hidden;
}

.title-1 {
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: -0.01em;
  line-height: 1.3125em;
}

.title-2 {
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: -0.01em;
  line-height: 1.2857142857em;
}

.title-3 {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.01em;
  line-height: 1.2916666667em;
}

.title-4 {
  font-weight: 500;
  font-size: 1.3125rem;
  letter-spacing: -0.01em;
  line-height: 1.2857142857em;
}

/* </COMMON> ================================================== */

/* <HEADER> ==================================================*/

.header {
  background-color: #171717;
  color: #fff;
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 0.0625rem solid #3a3a3c;
  transition: translate 0.3s linear 0s;
}

.header.hide {
  translate: 0 -7.1875rem;
}

.header__top {
  min-height: 4rem;
  max-width: 87.5rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.header__logo {
  order: 1;
}

.header__logo img {
  width: 9.9375rem;
  max-height: 2.1875rem;
}

.header__promo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.3125em;
  padding: 0.75rem 0.6875rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease 0s;
}

.header__promo::before {
  font-size: 1.125rem;
  color: #ff6f42;
}

.header__search {
  flex: 1 1 auto;
  max-width: 28.125rem;
}

.top-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.menu-top-header {
  margin: 0 -0.5rem;
  order: 2;
}

.menu-top-header__list {
  display: flex;
  gap: 0.5rem;
}

.menu-top-header__item {
  border-radius: 0.25rem;
  transition: background-color 0.3s ease 0s;
}

.menu-top-header__link {
  display: block;
  padding: 1.5rem 0.5rem;
}

.search-header {
  order: 3;
}

.search-header__form {
  border-radius: 0.5rem;
  max-width: 28.125rem;
  display: flex;
  background-color: #fff;
  overflow: hidden;
}

.search-header__input {
  flex: 1 1 auto;
  line-height: 1.25rem;
  padding: 0.625rem 1.25rem;
  color: #171717;
  transition: color 0.3s ease 0s;
}

.search-header__input::-moz-placeholder {
  color: #707070;
}

.search-header__input::placeholder {
  color: #707070;
}

.search-header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0625rem;
  width: 3.75rem;
  height: 2.5rem;
  background-color: #ff6f42;
  transition: background-color 0.3s ease 0s;
}

.actions-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  order: 4;
}

.actions-header__help {
  padding: 1.5rem 0.5rem;
  margin-left: -0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease 0s;
}

.actions-header__user {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 1.25rem;
  padding: 1.375rem 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease 0s;
}

.actions-header__user span {
  font-size: 1rem;
}

.actions-header__user::before {
  transition: color 0.3s ease 0s;
}

.actions-header__favorite {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 1.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease 0s;
}

.actions-header__cart {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 1.375rem 0.75rem;
  margin-right: -0.75rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease 0s;
}

.favorite-header__icon {
  position: relative;
  font-size: 1.25rem;
  padding-right: 0.3125rem;
}

.favorite-header__icon span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.8125rem;
  min-width: 0.8125rem;
  border-radius: 50%;
  font-size: 0.625rem;
  background-color: #fff;
  color: #000;
  top: -0.375rem;
  right: 0;
}

.favorite-header__icon::before {
  transition: color 0.3s ease 0s;
}

.cart-header__icon {
  position: relative;
  font-size: 1.25rem;
  padding-right: 0.3125rem;
}

.cart-header__icon span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.8125rem;
  min-width: 0.8125rem;
  border-radius: 50%;
  font-size: 0.625rem;
  background-color: #fff;
  color: #000;
  top: -0.375rem;
  right: 0;
}

.cart-header__icon::before {
  transition: color 0.3s ease 0s;
}

.bottom-header {
  max-width: 87.5rem;
  padding: 0 2.5rem;
  margin: 0.3125rem auto 0;
}

.bottom-header__inner {
  min-height: 2.8125rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.menu__wrapper {
  padding: 7.1875rem 0 0;
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  transition: left 0.3s ease 0s;
}

.menu-open .menu__wrapper {
  left: 0;
}

.menu__body {
  display: flex;
  max-width: 87.5rem;
  margin: 0 auto;
  min-height: 100%;
  height: calc(100vh - 7.1875rem);
}

.menu__inner {
  flex: 1 1 auto;
  padding: 0 0 1.875rem 2.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 20.375rem;
  background-color: #171717;
}

.menu__inner::-webkit-scrollbar {
  width: 0.375rem;
}

.menu__inner::-webkit-scrollbar-track {
  background: #3a3a3c;
  border-radius: 0.25rem;
}

.menu__inner::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: #ff6f42;
}

.menu__list {
  display: flex;
  flex-direction: column;
  padding: 1.875rem 0 1rem;
  max-width: 17.5rem;
}

.menu__item {
  margin-left: -0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 0.9375rem;
  margin-right: -0.375rem;
}

.menu__link {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  min-height: 2.8125rem;
  flex: 1 1 auto;
  padding-left: 0.9375rem;
  margin-right: -2.5rem;
  max-width: 18.8125rem;
  transition: background-color 0.3s ease 0s;
}

.menu__link::before {
  font-size: 1.1875rem;
}

.menu__arrow {
  background-color: transparent;
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 0.25rem 0.25rem 50% 50%;
  margin-right: -0.5rem;
  font-size: 0.6875rem;
  transition: all 0.3s ease 0s;
}

.menu__arrow._spoiler-active {
  rotate: -180deg;
}

.submenu__list {
  min-width: 100%;
}

._spoiler-active + .submenu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem 0;
}

.submenu__link {
  padding-left: 3.125rem;
  display: block;
  line-height: 130%;
}

.icon-menu {
  display: flex;
  align-items: center;
  position: relative;
  height: 2.8125rem;
  background-color: inherit;
  z-index: 10;
  padding: 0.6875rem 1rem 0.625rem 3.6875rem;
  margin-left: -1rem;
  transition: background-color 0.3s ease 0s;
  border-radius: 0.25rem;
}

.icon-menu__text {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.4117647059em;
}

.icon-menu__line,
.icon-menu::before,
.icon-menu::after {
  content: "";
  left: 1rem;
  position: absolute;
  height: 0.125rem;
  width: 1.875rem;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.icon-menu::before {
  top: 0.84375rem;
}

.icon-menu::after {
  bottom: 0.84375rem;
}

.icon-menu__line {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu__line {
  scale: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  rotate: 45deg;
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  rotate: -45deg;
}

/* </HEADER> ================================================== */

/* <MAIN> ================================================== */

.sitemap__inner {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}

.products {
  display: flex;
  align-items: end;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 0.75rem;
}

.products__subtitle {
  font-weight: 500;
  line-height: 1.4117647059em;
  color: #949494;
  margin-bottom: 0.125rem;
}

.content-sitemap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 2.5rem;
}

.content-sitemap__column {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.content-sitemap__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-sitemap__link {
  font-weight: 500;
  line-height: 1.4117647059em;
  transition: all 0.3s ease-in 0s;
  white-space: nowrap;
}

.what-is__inner {
  position: relative;
}

.what-is__inner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0.375rem;
  bottom: -0.0625rem;
  height: 2.5625rem;
  background: linear-gradient(180deg, rgba(245, 245, 247, 0) 0%, #f5f5f7 100%);
}

.what-is__items {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  max-height: 20rem;
  overflow-y: auto;
  padding-right: 2.875rem;
  padding-bottom: 1.875rem;
}

.what-is__items::-webkit-scrollbar {
  width: 0.375rem;
}

.what-is__items::-webkit-scrollbar-track {
  background: #f6e8e5;
  border-radius: 0.25rem;
}

.what-is__items::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: #ff6f42;
}

.what-is__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.what-is__big-title {
  margin-bottom: 0.5rem;
}

.what-is__text {
  font-weight: 500;
  line-height: 1.4117647059em;
  color: #333333;
}

.popular-queries__inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.popular-queries__titles {
  display: flex;
  align-items: end;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 0.75rem;
}

.popular-queries__subtitle {
  font-weight: 500;
  line-height: 1.4117647059em;
  color: #949494;
  margin-bottom: 0.125rem;
}

.popular-queries__list {
  display: flex;
  row-gap: 0.5rem;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  flex-wrap: wrap;
}

.popular-queries__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem 0.4375rem;
  border-radius: 0.5rem;
  min-height: 2.375rem;
  background: #ffffff;
  border: 0.0625rem solid #fff;
  transition: border-color 0.3s ease 0s;
}

/* </MAIN> ================================================== */

/* <FOOTER> ==================================================*/

.footer {
  background-color: #171717;
  color: #fff;
}

.footer__body {
  padding: 3.75rem 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 2.8125rem;
}

.footer__about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__logo img {
  width: 12.375rem;
  max-height: 3.5rem;
}

.footer__text {
  font-weight: 500;
  color: #acacac;
  line-height: 1.4117647059em;
  max-width: 16.875rem;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  gap: 4.375rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__title {
  white-space: nowrap;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__item {
  display: flex;
}

.footer__link {
  font-weight: 500;
  line-height: 1.4117647059em;
  border-radius: 0.25rem;
  color: #f5f5f7;
  white-space: nowrap;
  transition: color 0.3s ease 0s;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.footer__email,
.footer__phone {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  line-height: 1.4117647059em;
  transition: color 0.3s ease 0s;
}

.footer__email::before,
.footer__phone::before {
  color: #ff6f42;
  font-size: 1.125rem;
}

.footer__email span,
.footer__phone span {
  font-weight: 500;
}

.footer__copyright {
  font-family: "Open Sans", sans-serif;
  padding: 1.5625rem 0;
  border-top: 0.0625rem solid #3a3a3c;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 0.9375rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #fff;
  color: #171717;
  border-radius: 50%;
  font-size: 1.125rem;
  transition: all 0.3s ease 0s;
}

.social__instagram {
  font-size: 1.25rem;
}

.social__youtube {
  font-size: 0.9375rem;
}

.social__twitter {
  font-size: 1rem;
}

.category-footer {
  display: grid;
  grid-template: 4.5625rem/repeat(6, 1fr);
  gap: 1.5rem;
}

.category-footer__icon,
.category-footer__link,
.category-footer__chat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9375rem 0.625rem;
  border-radius: 0.5rem;
}

.category-footer__icon,
.category-footer__link {
  background-color: #1b1b1b;
  box-shadow: 0 0.375rem 0.5625rem rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease 0s;
}

.category-footer__icon {
  font-size: 2.5625rem;
}

.category-footer__link {
  font-size: 1.5625rem;
}

.category-footer__chat {
  font-size: 1.625rem;
  gap: 0.625rem;
  background: #ff6f42;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.category-footer__chat span {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
}

.trustpilot-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trustpilot-footer__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.trustpilot-footer__logo {
  display: flex;
  align-items: end;
  font-size: 1.5rem;
  gap: 0.1875rem;
}

.trustpilot-footer__logo img {
  width: 2.25rem;
  height: 2.125rem;
  margin-bottom: 0.1875rem;
}

.trustpilot-footer__info {
  display: flex;
  gap: 1.25rem;
}

.trustpilot-footer__rating {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.trustpilot-footer__stars {
  display: flex;
  gap: 0.125rem;
}

.trustpilot-footer__star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.0625rem;
  height: 2rem;
  background-color: #e5e5e5;
  border-radius: 0.1875rem;
  overflow: hidden;
  position: relative;
}

.trustpilot-footer__star::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #20be7d;
}

.trustpilot-footer__star:last-child::after {
  width: 80%;
}

.trustpilot-footer__star::before {
  z-index: 1;
}

.trustpilot-footer__num {
  font-weight: 700;
  font-size: 0.875rem;
}

.trustpilot-footer__descr {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
}

.trustpilot-footer__text {
  font-weight: 500;
  font-size: 0.8125rem;
}

.trustpilot-footer__text + .trustpilot-footer__text {
  padding-left: 0.875rem;
  position: relative;
}

.trustpilot-footer__text + .trustpilot-footer__text::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: 0.3125rem;
  background-color: #20be7d;
  border-radius: 50%;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}

.card-footer {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
}

.card-footer__text {
  display: none;
}

.card-footer__items {
  display: flex;
  gap: 0.5rem;
}

.card-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem;
  width: 3.125rem;
  height: 2.1875rem;
  background-color: #fff;
  border: 0.0625rem solid #d9d9d9;
  border-radius: 0.25rem;
}

.card-footer__item img {
  width: 100%;
}

.copyright,
.designed {
  color: #707070;
  transition: color 0.3s ease 0s;
  font-size: 1rem;
  line-height: 1.3125em;
}

.countries {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  display: flex;
  gap: 2rem;
}

.countries__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  opacity: 0.75;
  transition: opacity 0.3s ease 0s;
}

.countries__item img {
  height: 1.5rem;
}

.countries__name {
  line-height: 1.4117647059em;
}

/* </FOOTER> ================================================== */

/* <POPUP> ==================================================*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  translate: 0px 0px;
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 0.625rem;
}

.popup__content {
  background-color: #fff;
  max-width: 50rem;
  padding: 1.875rem;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  translate: 0 -100%;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  rotate: 45deg;
  font-size: 30px;
  line-height: 15px;
}

.popup__title {
  font-size: 2.5rem;
  margin: 0px 0px 1em 0px;
}

.popup-close {
  position: fixed;
  top: 0;
  left: 0;
}

/* </POPUP> ================================================== */

@media (min-width: 48em) {
  .promo {
    order: 1;
  }

  .hot {
    order: 2;
  }
}

@media (max-width: 81.24875em) {
  .actions-header__user span {
    display: none;
  }

  .favorite-header__link {
    display: none;
  }

  .cart-header__link {
    display: none;
  }
}

@media (max-width: 79.99875em) {
  .footer__top {
    flex-direction: column;
  }

  .footer__about {
    flex-direction: row;
    justify-content: space-between;
    gap: 3.75rem;
  }

  .footer__text {
    max-width: 100%;
  }
}

@media (max-width: 74.99875em) {
  .content-sitemap {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 70.62375em) {
  .category-footer {
    gap: 1rem;
    grid-template-rows: 4.0625rem;
  }

  .category-footer__icon {
    font-size: 2.1875rem;
  }

  .category-footer__link {
    font-size: 1.25rem;
  }

  .category-footer__chat {
    font-size: 1.3125rem;
    gap: 0.4375rem;
  }
}

@media (max-width: 68.74875em) {
  .menu-top-header__list {
    flex-direction: column;
    max-width: 17.5rem;
    gap: 0;
  }

  .menu-top-header__item {
    margin-left: -0.9375rem;
  }

  .menu-top-header__link {
    font-size: 1.0625rem;
    padding: 0.875rem 0.9375rem;
  }
}

@media (max-width: 64.68625em) {
  .category-footer {
    grid-template: repeat(2, 3.75rem)/repeat(3, 1fr);
  }

  .trustpilot-footer {
    align-items: end;
  }

  .trustpilot-footer__item {
    align-items: end;
  }

  .trustpilot-footer__logo {
    font-size: 1.3125rem;
  }

  .trustpilot-footer__logo img {
    width: 1.875rem;
    height: 1.875rem;
  }

  .trustpilot-footer__info {
    flex-direction: column-reverse;
    gap: 0.375rem;
  }
}

@media (max-width: 61.99875em) {
  .header__logo {
    flex: 1 1 auto;
  }

  .header__promo {
    max-width: 18.4375rem;
    margin-left: -0.9375rem;
    padding-left: 0.9375rem;
  }

  .header__search {
    max-width: 100%;
  }

  .top-header__inner {
    justify-content: start;
    gap: 1.25rem;
  }

  .search-header__form {
    max-width: 100%;
  }

  .search-header__input {
    padding: 0.3125rem 1rem;
  }

  .search-header__button {
    height: 2rem;
  }

  .actions-header__help {
    display: flex;
    font-size: 1.0625rem;
    padding: 0.875rem 0.9375rem;
    margin-left: -0.9375rem;
    max-width: 18.4375rem;
  }

  .icon-menu {
    margin: 0;
    padding: 0;
    height: 1.125rem;
    width: 1.875rem;
    flex: 0 0 1.875rem;
  }

  .icon-menu__text {
    display: none;
  }

  .icon-menu__line,
  .icon-menu::before,
  .icon-menu::after {
    left: 0;
    width: 100%;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .products {
    flex-direction: column;
    align-items: start;
  }

  .products__subtitle {
    margin: 0;
  }

  .content-sitemap {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-sitemap__link {
    font-size: 0.9375rem;
  }

  .footer__body {
    padding-bottom: 9rem;
  }

  .footer__box {
    flex-wrap: wrap;
  }

  .footer__contacts {
    width: 100%;
    flex-wrap: wrap;
  }

  .footer__links {
    flex-direction: row;
    justify-content: space-between;
  }

  .trustpilot-footer__star {
    width: 1.8125rem;
    height: 1.8125rem;
  }

  .trustpilot-footer__num {
    font-size: 0.8125rem;
  }

  .trustpilot-footer__descr {
    gap: 0.5rem;
  }

  .trustpilot-footer__text {
    font-size: 0.73125rem;
  }

  .trustpilot-footer__text + .trustpilot-footer__text {
    padding-left: 0.8125rem;
  }

  .trustpilot-footer__text + .trustpilot-footer__text::after {
    height: 0.25rem;
    width: 0.25rem;
  }

  .countries {
    top: -6.75rem;
  }
}

@media (max-width: 49.9375em) {
  .footer__about {
    flex-direction: column;
    gap: 1.6875rem;
  }
}

@media (max-width: 49.99875em) {
  .footer__logo img {
    width: 11.3125rem;
    max-height: 2.5rem;
  }

  .footer__email span,
  .footer__phone span {
    font-weight: 400;
    font-size: 0.9375rem;
  }

  .trustpilot-footer {
    align-items: start;
    flex-direction: column;
    gap: 1.875rem;
  }

  .trustpilot-footer__item {
    flex-direction: column-reverse;
    align-items: start;
    row-gap: 0.8125rem;
  }

  .trustpilot-footer__logo {
    font-size: 1rem;
  }

  .trustpilot-footer__logo img {
    display: none;
  }

  .trustpilot-footer__text {
    font-size: 0.70625rem;
  }

  .card-footer__text {
    display: block;
    color: #949494;
    font-size: 0.9375rem;
    line-height: 1.4em;
  }
}

@media (max-width: 47.99875em) {
  .container {
    padding: 0 1.25rem;
  }

  .title-1 {
    font-size: 1.6875rem;
  }

  .title-2 {
    font-size: 1.5rem;
  }

  .title-3 {
    font-size: 1.375rem;
  }

  .title-4 {
    font-size: 1.1875rem;
  }

  .header__top {
    padding: 0 1.25rem;
  }

  .bottom-header {
    padding: 0 1.25rem;
  }

  .promo {
    order: -1;
  }

  .menu__inner {
    padding: 0 0 1.875rem 1.25rem;
    max-width: 19.125rem;
  }

  .products__subtitle {
    font-size: 1rem;
  }

  .content-sitemap {
    grid-template-columns: repeat(2, 1fr);
  }

  .content-sitemap__column:nth-child(5) {
    grid-column: span 2;
  }

  .content-sitemap__link {
    font-size: 0.875rem;
  }

  .what-is__items {
    padding-right: 1.625rem;
  }

  .what-is__text {
    font-weight: 400;
    font-size: 0.9375rem;
  }

  .popular-queries__inner {
    gap: 1.875rem;
  }

  .popular-queries__titles {
    flex-direction: column;
    align-items: start;
  }

  .popular-queries__subtitle {
    font-size: 0.9375rem;
    margin: 0;
  }

  .footer__body {
    padding-bottom: 3.75rem;
  }

  .footer__text {
    font-weight: 400;
    font-size: 0.9375rem;
  }

  .footer__link {
    font-weight: 400;
    font-size: 0.9375rem;
  }

  .footer__links {
    flex-direction: column;
    align-items: start;
  }

  .footer__copyright {
    padding: 1.25rem 0;
  }

  .footer__row {
    justify-content: center;
    flex-direction: column;
  }

  .countries {
    position: static;
    translate: 0 0;
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 34.37375em) {
  .category-footer {
    grid-template: repeat(3, 3.75rem)/repeat(2, 1fr);
  }

  .category-footer__icon {
    font-size: 2.125rem;
  }

  .category-footer__link {
    font-size: 1.125rem;
  }

  .category-footer__chat span {
    font-size: 1.0625rem;
  }
}

@media (max-width: 29.99875em) {
  .container {
    padding: 0 0.9375rem;
  }

  .header__top {
    padding: 0 0.9375rem;
  }

  .header__logo img {
    width: 7.5rem;
  }

  .top-header__inner {
    gap: 1rem;
  }

  .actions-header__user {
    margin-left: -0.3125rem;
    padding: 1.375rem 0.3125rem;
  }

  .actions-header__favorite {
    padding: 1.375rem 0.3125rem;
  }

  .actions-header__cart {
    padding: 1.375rem 0.3125rem;
    margin-right: -0.3125rem;
  }

  .bottom-header {
    padding: 0 0.9375rem;
  }

  .menu__inner {
    padding: 0 0 1.875rem 0.9375rem;
    max-width: 18.8125rem;
  }

  .card-footer__items {
    gap: 0.25rem;
  }

  .card-footer__item {
    width: 2.8125rem;
    height: 1.875rem;
  }

  .copyright,
  .designed {
    font-size: 0.875rem;
  }

  .countries__item img {
    height: 1.25rem;
  }

  .countries__name {
    font-size: 0.875rem;
  }
}

@media (max-width: 24.99875em) {
  .content-sitemap__link span {
    display: none;
  }
}

@media (any-hover: hover) {
  .header__promo:hover {
    background-color: #3a3a3c;
  }

  .menu-top-header__item:hover {
    background-color: #3a3a3c;
  }

  .search-header__input:hover::-moz-placeholder {
    color: #333333;
  }

  .search-header__input:hover::placeholder {
    color: #333333;
  }

  .search-header__button:hover {
    background-color: #3a3a3c;
  }

  .actions-header__help:hover {
    background-color: #3a3a3c;
  }

  .actions-header__user:hover {
    background-color: #3a3a3c;
  }

  .actions-header__user:hover::before {
    color: #ff6f42;
  }

  .actions-header__favorite:hover {
    background-color: #3a3a3c;
  }

  .actions-header__favorite:hover .favorite-header__icon::before {
    color: #ff6f42;
  }

  .actions-header__cart:hover {
    background-color: #3a3a3c;
  }

  .actions-header__cart:hover .cart-header__icon::before {
    color: #ff6f42;
  }

  .menu__link:hover {
    background-color: #3a3a3c;
  }

  .menu__arrow:hover {
    background-color: #3a3a3c;
  }

  .icon-menu:hover {
    background-color: #3a3a3c;
  }

  .content-sitemap__link:hover {
    font-weight: 700;
    color: #ff6f42;
  }

  .popular-queries__link:hover {
    border-color: #ff6f42;
  }

  .footer__link:hover {
    color: #ff6f42;
  }

  .footer__email:hover,
  .footer__phone:hover {
    color: #ff6f42;
  }

  .social__link:hover {
    background-color: #ff6f42;
    color: #fff;
  }

  .category-footer__icon:hover,
  .category-footer__link:hover {
    background-color: #ff6f42;
  }

  .category-footer__chat:hover {
    background-color: #fff;
    color: #171717;
  }

  .copyright:hover,
  .designed:hover {
    color: #fff;
  }

  .countries__item:hover {
    opacity: 1;
  }
}